@media (min-width: 768px) {
    .h-md-100 { height: 100vh; }
}
.btn-round { border-radius: 30px; }
.bg-indigo { background: indigo; }
.text-cyan { color: #35bdff; }

.text{
    color: #00A3FF; 
}

/*.leftside, .rightside{
    height: 100vh;  
    width: 100%;    
}

.leftside{
    background: lightcoral ; 
}

.rightside{
    background:white;  
}

.btn{
    color: #00A3FF;
}

.text{
    color: #00A3FF; 
}
.image{
    width: 10px;
    height: 10px;
}*/