<div class="d-md-flex h-md-100 align-items-center">
<!--First Half-->
    <div class="col-md-6 p-0 bg-indigo h-md-100">
        <div class="text-white d-md-flex align-items-center h-100 p-5 text-center justify-content-center">
            <div class="logoarea pt-5 pb-5">
                <img class="image h-md-100" src="../../assets/login1.jpg" alt="login-image"> 
            </div>
        </div>
    </div>
<!--Second Half-->
    <div class="col-md-6 p-0 bg-white h-md-100 loginarea">
        <div class="d-md-flex align-items-center h-md-100 p-5 justify-content-center">
            <form class="border  rounded p-5">
                <div class="mb-3">
                    <div class="text-center">
                        <h2 class="Title"><SPAN  class="text">Skill</SPAN> Matrix</h2>
                    </div>
                        <label for="username" class="form-label">Username</label>
                        <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                        <label for="Password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="InputPassword">
                         <p><a href="#" class="text-info">Forgot Password?</a></p>
                </div>
                <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-primary">Login</button>
                </div>
                <div class="row mt-3">
                         <p>If you don´t have an account,<a routerlink="/home"  class="text-info">Sign up</a></p>
                </div>
              </form> 
        </div>
    </div>
</div>

